*{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 2px;
}
.link{
    margin: 10px;
    padding: 4px;
    background-color: white;
    text-decoration: none;
    color: black;

}
.link:active{
    text-decoration: none;
    color: black;
}
.link:visited{
    text-decoration: none;
    color: black;
}
#topBar{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
#topBar>*{
    align-content: center;
    text-align: center;
    transition: border 0.5 ease-in-out;
    border: 2px solid white;
}
#topBar>h2{
    padding-top: 12px;
}
#topBar>.link:hover{
    border: 2px solid black;
}
button{
    cursor: pointer;
}
.qtyPicker{
    width: 40px;
}
.card{
    margin: 12px;
    border: 2px solid grey;
    padding: 2px;
}